html {
  height: 100%;
  width: 100%;
}

body {
  margin: 150px;
}

.card {
  width: 300px;
  height: 450px;
  margin: auto;
  border: 2px solid #eae6e6;
  position: relative;
  perspective: 1000rem;
  border-radius: 25px;
}

.font {
  width: 300px;
  height: 450px;
  font-size: 3rem;
  color: #fff;
  padding: 8rem 5rem;
  box-sizing: border-box;
  transition: all 0.5s;
  backface-visibility: hidden;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 25px;
}

.back {
  width: 300px;
  height: 450px;
  font-size: 3rem;
  color: #fff;
  padding: 4rem 1rem 1rem 1rem;
  box-sizing: border-box;
  transition: all 0.5s;
  backface-visibility: hidden;
  position: absolute;
  margin: auto;
  text-align: center;
  border-radius: 25px;


}


.font {
  background: #ffffff;
}

.font img {
  width: 100px;
  height: 100px;

}

.back {
  transform: rotateY(-180deg);
  background-color: dodgerblue;
  color: white;
  font-size: 15px
}

.back img {
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.card:hover .font {
  transform: rotateY(180deg);
}

.card:hover .back {
  transform: rotateY(0);
}

a button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.fa {
  color: white;
  padding-bottom: 8px;
  width: 20px;
}